*~
_*
*.o
*.a
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
test/*.out
kernel/kernel
user/usys.S
.gdbinit
compile_commands.json
.cache
kernel/lwip
build
build-x86
build-x86_64
build-riscv64
build-aarch64
*.dSYM
packets.pcap
.gdbinit.tmpl-riscv
test_output
xv6fuse
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

# musl build artifacts (downloaded/extracted at build time)
user/musl-xv6/musl-build/
user/musl-xv6/sysroot/

# Doxygen generated documentation
docs/html/
docs/latex/
*.doxyfile.bak